div#q-loading-bar { display: none!important; } /* makes sure there's no ajax load from quasar */
::-webkit-scrollbar { display: none!important; } /* makes sure there's no ugly scrollbar on menu*/

.container {
    display: none;
}

.right-menu {
    background: rgb(30 30 30)!important; 
    position:absolute;
    top: 10%;
    right:20;
    border-radius: 4px;
    min-width: 250px;
    max-height: 800px;

    overflow-x: hidden;
    overflow-y: auto;
}